version: '3.4'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: retrogame-container
    environment:
      ASPNETCORE_URLS: http://+:80
    expose:
      - "80"
    networks:
      - distributed-systems

  nginx:
    image: nginx:latest
    ports:
      - "8081:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - distributed-systems

networks:
  distributed-systems:
